<h1 align="center">Milestone 2: Data Analysis I  </h1>
<h2 align="center">IST 5520: Data Science and Machine Learning with Python  </h2>
<h3 align="center"> Google Covid-19 Open Data </h3>
<h3 align="center"> Group6</h3>

# Introduction


On January 30, 2020, and March 11, 2020, respectively, the World Health Organization (WHO) formally declared the SARS-CoV-2 outbreak a Public Health Emergency of International Concern. WHO recommended nations to use stringent social segregation and quarantine measures to protect public from the virus spread. Covid-19 has severely affected the lives of people around the world it is like the world has been stopped for like a short period due to the lockdown and rise of covid cases around the various places on this planet. Here in this project, we can able to see how many humans were affected with covid 19 virus and perform analysis to check how males are affected, and the females. We plot the analysis charts for the cases recorded and try to get a sense of the outcome like which section of people are affected worse and their patterns for the spread of the covid-19. Along with we are trying to find what is the number of people reported to have been admitted and among which are trying to segregate(divide) into different categories and get an understanding of how hospitalization affects peopleâ€™s health conditions. By finding these results, we can predict and analyse how a pandemic affects the world's health condition and population.

# Data source and collection

The data used for this project is gathered from "Google Covid-19 Open Data", the Google Health COVID-19 Open Data Repository is one of the most comprehensive collections of up-to-date COVID-19-related information. Comprising data from more than 20,000 locations worldwide, it contains a rich variety of attributes to help public health professionals, researchers, policymakers and others in understanding and managing the virus. The datasets provide current information on COVID-19 cases, deaths, vaccination rates, hospitalizations, and more. The dataset we have considered has around 40 variables with 1175382 rows.

<p>For the given project we are choosing 3 data sets from the Google Covid-19 Open Raw Data named as Hospitalizations, Epidemiology and By sex(Gender) where Epidemiology and Hospitalizations values are stratified with by_sex dataset based on the columns Name, Type and description to find relation between various columns and visualize, plot the values to find specific outcomes.</p>

<h3> Epidemiology </h3>
Here we get the information related covid-19 infections of the people for each respective data and data set is categorized in such way that we can get a info about the number of people affected with infection newly and who have been deceased for certian
time period and simultaneously number people have been recoverd.
<table border="1">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>date</td>
        <td>string</td>
        <td>ISO 8601 date (YYYY-MM-DD) of the datapoint</td>
        <td>2020-03-30</td>
    </tr>
    <tr>
        <td>key</td>
        <td>string</td>
        <td>Unique string identifying the region</td>
        <td>CN_HB</td>
    </tr>
    <tr>
        <td>new_confirmed</td>
        <td>integer</td>
        <td>Count of new cases confirmed after positive test on this date</td>
        <td>87</td>
    </tr>
    <tr>
        <td>new_deceased</td>
        <td>integer</td>
        <td>Count of new deaths from a positive COVID-19 case on this date</td>
        <td>7</td>
    </tr>
    <tr>
        <td>new_recovered</td>
        <td>integer</td>
        <td>Count of new recoveries from a positive COVID-19 case on this date</td>
        <td>12</td>
    </tr>
    <tr>
        <td>new_tested</td>
        <td>integer</td>
        <td>Count of new COVID-19 tests performed on this date</td>
        <td>678</td>
    </tr>
    <tr>
        <td>cumulative_confirmed</td>
        <td>integer</td>
        <td>Cumulative sum of cases confirmed after positive test to date</td>
        <td>6778</td>
    </tr>
    <tr>
        <td>cumulative_deceased</td>
        <td>integer</td>
        <td>Cumulative sum of deaths from a positive COVID-19 case to date</td>
        <td>113</td>
    </tr>
    <tr>
        <td>cumulative_recovered</td>
        <td>integer</td>
        <td>Cumulative sum of recoveries from a positive COVID-19 case to date</td>
        <td>113</td>
    </tr>
</table>

<h3>Hospitalizations</h3>
Information related to patients of COVID-19 and hospitals.

<h3> by SEX </h3>
Epidemiology and hospitalizations data stratified by sex.
Values in this table are stratified versions of the columns available in the epidemiology and hospitalizatons tables. Each row contains each variable with either _male, _female or _sex_other suffix: {new_deceased_male: 45, new_deceased_female: 32, new_deceased_sex_other: 10, new_tested_male: 45, new_tested_female: 32, ...}
<table border="1">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>date</td>
        <td>string</td>
        <td>ISO 8601 date (YYYY-MM-DD) of the datapoint</td>
        <td>2020-03-30</td>
    </tr>
    <tr>
        <td>location_key</td>
        <td>string</td>
        <td>Unique string identifying the region</td>
        <td>FR</td>
    </tr>
    <tr>
        <td>statistic_sex_male</td>
        <td>integer</td>
        <td>integer	Value of statistic for male individuals</td>
        <td>87</td>
    </tr>
    <tr>
        <td>statistic_sex_female</td>
        <td>integer</td>
        <td>integer	Value of statistic for female individuals</td>
        <td>68</td>
    </tr>
    <tr>
        <td>statistic_sex_other</td>
        <td>integer</td>
        <td>integer	Value of statistic for other individuals</td>
        <td>12</td>
    </tr>
</table>

# Reading Data set
For the given project we are choosing 3 data sets from the Google Covid-19 Open Raw Data named as Hospitalizations, Epidemiology and By sex(Gender) where Epidemiology and Hospitalizations values are stratified with by_sex dataset based on the columns Name, Type and description to find relation between various columns and visualize, plot the values to find specific outcomes.

<h1>1.Importing data </h1>

In [1]:
#importing the required modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA
import scipy as sp

In [2]:
#importing the required datasets
bysex=pd.read_csv('by-sex.csv')
epid=pd.read_csv('epidemiology.csv')
hosp=pd.read_csv('hospitalizations.csv')

In [3]:
#information of dataset by-sex
bysex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3848340 entries, 0 to 3848339
Data columns (total 30 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   date                                       object
 1   location_key                               object
 2   new_confirmed_male                         float64
 3   new_confirmed_female                       float64
 4   cumulative_confirmed_male                  float64
 5   cumulative_confirmed_female                float64
 6   new_deceased_male                          float64
 7   new_deceased_female                        float64
 8   cumulative_deceased_male                   float64
 9   cumulative_deceased_female                 float64
 10  new_recovered_male                         float64
 11  new_recovered_female                       float64
 12  cumulative_recovered_male                  float64
 13  cumulative_recovered_female                float64
 14  new_tested_male                            float64
 15  new_tested_female                          float64
 16  cumulative_tested_male                     float64
 17  cumulative_tested_female                   float64
 18  new_hospitalized_patients_male             float64
 19  new_hospitalized_patients_female           float64
 20  cumulative_hospitalized_patients_male      float64
 21  cumulative_hospitalized_patients_female    float64
 22  new_intensive_care_patients_male           float64
 23  new_intensive_care_patients_female         float64
 24  cumulative_intensive_care_patients_male    float64
 25  cumulative_intensive_care_patients_female  float64
 26  new_ventilator_patients_male               float64
 27  new_ventilator_patients_female             float64
 28  cumulative_ventilator_patients_male        float64
 29  cumulative_ventilator_patients_female      float64
dtypes: float64(28), object(2)
memory usage: 880.8+ MB

In [4]:
#information of dataset epidemiology
epid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12525825 entries, 0 to 12525824
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   date                  object
 1   location_key          object
 2   new_confirmed         float64
 3   new_deceased          float64
 4   new_recovered         float64
 5   new_tested            float64
 6   cumulative_confirmed  float64
 7   cumulative_deceased   float64
 8   cumulative_recovered  float64
 9   cumulative_tested     float64
dtypes: float64(8), object(2)
memory usage: 955.6+ MB

In [5]:
#information of dataset hospitalizations
hosp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768485 entries, 0 to 1768484
Data columns (total 11 columns):
 #   Column                              Dtype
---  ------                              -----
 0   date                                object
 1   location_key                        object
 2   new_hospitalized_patients           float64
 3   cumulative_hospitalized_patients    float64
 4   current_hospitalized_patients       float64
 5   new_intensive_care_patients         float64
 6   cumulative_intensive_care_patients  float64
 7   current_intensive_care_patients     float64
 8   new_ventilator_patients             float64
 9   cumulative_ventilator_patients      float64
 10  current_ventilator_patients         float64
dtypes: float64(9), object(2)
memory usage: 148.4+ MB

<h1>2. Making data Set </h1>

In the three data sets we have two common attributes 'date' and 'location_key'. First we will fetch one row from each dataset and check whether the entry exists in the other datasets on same date and same location.
Now Based on the attributes date and location_key we will merge the three datasets.

In [6]:
#checking for an entry on date 2020-09-28 at location AR in the dataset by-sex
bysex.loc[(bysex['date'] == '2020-09-28') & (bysex['location_key'] == 'AR')]

,date,location_key,new_confirmed_male,new_confirmed_female,cumulative_confirmed_male,cumulative_confirmed_female,new_deceased_male,new_deceased_female,cumulative_deceased_male,cumulative_deceased_female,...,cumulative_hospitalized_patients_male,cumulative_hospitalized_patients_female,new_intensive_care_patients_male,new_intensive_care_patients_female,cumulative_intensive_care_patients_male,cumulative_intensive_care_patients_female,new_ventilator_patients_male,new_ventilator_patients_female,cumulative_ventilator_patients_male,cumulative_ventilator_patients_female
332,2020-09-28,AR,6511.0,6496.0,377401.0,364245.0,201.0,148.0,12728.0,9566.0,...,84299.0,78388.0,118.0,76.0,14246.0,9786.0,NaN,NaN,NaN,NaN

In [7]:
#checking for an entry on date 2020-09-28 at location AR in the dataset epidiamology
epid.loc[(epid['date'] == '2020-09-28') & (epid['location_key'] == 'AR')]

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
21678,2020-09-28,AR,13176.0,359.0,NaN,23579.0,754245.0,23325.0,NaN,1955657.0

In [8]:
#checking for an entry on date 2020-09-28 at location AR in the dataset hospitalizations
hosp.loc[(hosp['date'] == '2020-09-28') & (hosp['location_key'] == 'AR')]

,date,location_key,new_hospitalized_patients,cumulative_hospitalized_patients,current_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,current_intensive_care_patients,new_ventilator_patients,cumulative_ventilator_patients,current_ventilator_patients
332,2020-09-28,AR,1238.0,169001.0,NaN,204.0,25295.0,NaN,NaN,NaN,NaN

In [9]:
#mergind datasets hospitalizations and by-sex
merge1=pd.merge(hosp, bysex, on=['date','location_key'])

In [10]:
#head of merge1
merge1.head()

,date,location_key,new_hospitalized_patients,cumulative_hospitalized_patients,current_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,current_intensive_care_patients,new_ventilator_patients,cumulative_ventilator_patients,...,cumulative_hospitalized_patients_male,cumulative_hospitalized_patients_female,new_intensive_care_patients_male,new_intensive_care_patients_female,cumulative_intensive_care_patients_male,cumulative_intensive_care_patients_female,new_ventilator_patients_male,new_ventilator_patients_female,cumulative_ventilator_patients_male,cumulative_ventilator_patients_female
0,0022-01-10,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,0022-01-20,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,0202-03-30,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,0221-07-06,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1202-01-07,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [11]:
#information about new merge
merge1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1176482 entries, 0 to 1176481
Data columns (total 39 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   date                                       1176482 non-null  object
 1   location_key                               1176482 non-null  object
 2   new_hospitalized_patients                  1175140 non-null  float64
 3   cumulative_hospitalized_patients           1174770 non-null  float64
 4   current_hospitalized_patients              16561 non-null    float64
 5   new_intensive_care_patients                1102803 non-null  float64
 6   cumulative_intensive_care_patients         1102805 non-null  float64
 7   current_intensive_care_patients            16493 non-null    float64
 8   new_ventilator_patients                    419 non-null      float64
 9   cumulative_ventilator_patients             420 non-null      float64
 10  current_ventilator_patients                12991 non-null    float64
 11  new_confirmed_male                         960638 non-null   float64
 12  new_confirmed_female                       951605 non-null   float64
 13  cumulative_confirmed_male                  992954 non-null   float64
 14  cumulative_confirmed_female                992267 non-null   float64
 15  new_deceased_male                          1138143 non-null  float64
 16  new_deceased_female                        1129135 non-null  float64
 17  cumulative_deceased_male                   1169505 non-null  float64
 18  cumulative_deceased_female                 1168818 non-null  float64
 19  new_recovered_male                         593133 non-null   float64
 20  new_recovered_female                       590948 non-null   float64
 21  cumulative_recovered_male                  596423 non-null   float64
 22  cumulative_recovered_female                596423 non-null   float64
 23  new_tested_male                            877454 non-null   float64
 24  new_tested_female                          871318 non-null   float64
 25  cumulative_tested_male                     905524 non-null   float64
 26  cumulative_tested_female                   905524 non-null   float64
 27  new_hospitalized_patients_male             1128753 non-null  float64
 28  new_hospitalized_patients_female           1119745 non-null  float64
 29  cumulative_hospitalized_patients_male      1160112 non-null  float64
 30  cumulative_hospitalized_patients_female    1159425 non-null  float64
 31  new_intensive_care_patients_male           876750 non-null   float64
 32  new_intensive_care_patients_female         799701 non-null   float64
 33  cumulative_intensive_care_patients_male    1100960 non-null  float64
 34  cumulative_intensive_care_patients_female  1100960 non-null  float64
 35  new_ventilator_patients_male               0 non-null        float64
 36  new_ventilator_patients_female             0 non-null        float64
 37  cumulative_ventilator_patients_male        0 non-null        float64
 38  cumulative_ventilator_patients_female      0 non-null        float64
dtypes: float64(37), object(2)
memory usage: 359.0+ MB

In [12]:
#merging the datasets merge1 and epidiamology
final_merge=pd.merge(merge1, epid, on=['date','location_key'])

In [13]:
#information about final merge dataset
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1175382 entries, 0 to 1175381
Data columns (total 47 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   date                                       1175382 non-null  object
 1   location_key                               1175382 non-null  object
 2   new_hospitalized_patients                  1174040 non-null  float64
 3   cumulative_hospitalized_patients           1173670 non-null  float64
 4   current_hospitalized_patients              16561 non-null    float64
 5   new_intensive_care_patients                1101703 non-null  float64
 6   cumulative_intensive_care_patients         1101705 non-null  float64
 7   current_intensive_care_patients            16493 non-null    float64
 8   new_ventilator_patients                    419 non-null      float64
 9   cumulative_ventilator_patients             420 non-null      float64
 10  current_ventilator_patients                12991 non-null    float64
 11  new_confirmed_male                         960521 non-null   float64
 12  new_confirmed_female                       951485 non-null   float64
 13  cumulative_confirmed_male                  992725 non-null   float64
 14  cumulative_confirmed_female                992038 non-null   float64
 15  new_deceased_male                          1137155 non-null  float64
 16  new_deceased_female                        1128144 non-null  float64
 17  cumulative_deceased_male                   1168405 non-null  float64
 18  cumulative_deceased_female                 1167718 non-null  float64
 19  new_recovered_male                         593133 non-null   float64
 20  new_recovered_female                       590948 non-null   float64
 21  cumulative_recovered_male                  596423 non-null   float64
 22  cumulative_recovered_female                596423 non-null   float64
 23  new_tested_male                            877337 non-null   float64
 24  new_tested_female                          871198 non-null   float64
 25  cumulative_tested_male                     905295 non-null   float64
 26  cumulative_tested_female                   905295 non-null   float64
 27  new_hospitalized_patients_male             1127765 non-null  float64
 28  new_hospitalized_patients_female           1118754 non-null  float64
 29  cumulative_hospitalized_patients_male      1159012 non-null  float64
 30  cumulative_hospitalized_patients_female    1158325 non-null  float64
 31  new_intensive_care_patients_male           875994 non-null   float64
 32  new_intensive_care_patients_female         799034 non-null   float64
 33  cumulative_intensive_care_patients_male    1099860 non-null  float64
 34  cumulative_intensive_care_patients_female  1099860 non-null  float64
 35  new_ventilator_patients_male               0 non-null        float64
 36  new_ventilator_patients_female             0 non-null        float64
 37  cumulative_ventilator_patients_male        0 non-null        float64
 38  cumulative_ventilator_patients_female      0 non-null        float64
 39  new_confirmed                              1175382 non-null  float64
 40  new_deceased                               1171510 non-null  float64
 41  new_recovered                              612247 non-null   float64
 42  new_tested                                 914976 non-null   float64
 43  cumulative_confirmed                       1175382 non-null  float64
 44  cumulative_deceased                        1171510 non-null  float64
 45  cumulative_recovered                       612248 non-null   float64
 46  cumulative_tested                          920303 non-null   float64
dtypes: float64(45), object(2)
memory usage: 430.4+ MB

In [14]:
#checking the number of unique locations
final_merge.location_key.nunique()

6364

In [15]:
#checking the unique locations in which we have data
final_merge.location_key.unique()

array(['AR', 'AR_A', 'AR_A_007', ..., 'US_DE', 'US_IN', 'US_MA'],
      dtype=object)

In [16]:
#splitting the date into month and day
date_split = final_merge['date'].str.split('-', expand = True)

In [17]:
#checking the splitted date
date_split.head()

      0   1   2
0  2020  01  01
1  2020  01  02
2  2020  01  03
3  2020  01  04
4  2020  01  05

In [18]:
#concatinating the date columns to final merge 
final_merge= pd.concat([final_merge,date_split], axis = 1)

In [19]:
#checking the head of final merge dataset
final_merge.head()

,date,location_key,new_hospitalized_patients,cumulative_hospitalized_patients,current_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,current_intensive_care_patients,new_ventilator_patients,cumulative_ventilator_patients,...,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,0,1,2
0,2020-01-01,AR,1.0,1.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,4.0,3.0,0.0,NaN,4.0,2020,01,01
1,2020-01-02,AR,0.0,1.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,42.0,17.0,0.0,NaN,46.0,2020,01,02
2,2020-01-03,AR,0.0,1.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,7.0,20.0,0.0,NaN,53.0,2020,01,03
3,2020-01-04,AR,0.0,1.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,18.0,27.0,0.0,NaN,71.0,2020,01,04
4,2020-01-05,AR,1.0,2.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,11.0,32.0,0.0,NaN,82.0,2020,01,05

In [20]:
#renaming the date columns to year, month and day
final_merge = final_merge.rename(columns = {0:'year',
                            1:'month',
                            2: 'day'})

final_merge.head()

,date,location_key,new_hospitalized_patients,cumulative_hospitalized_patients,current_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,current_intensive_care_patients,new_ventilator_patients,cumulative_ventilator_patients,...,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,year,month,day
0,2020-01-01,AR,1.0,1.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,4.0,3.0,0.0,NaN,4.0,2020,01,01
1,2020-01-02,AR,0.0,1.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,42.0,17.0,0.0,NaN,46.0,2020,01,02
2,2020-01-03,AR,0.0,1.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,7.0,20.0,0.0,NaN,53.0,2020,01,03
3,2020-01-04,AR,0.0,1.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,18.0,27.0,0.0,NaN,71.0,2020,01,04
4,2020-01-05,AR,1.0,2.0,NaN,0.0,4.0,NaN,NaN,NaN,...,0.0,NaN,11.0,32.0,0.0,NaN,82.0,2020,01,05

<h1> 3. Preprocessing </h1>

In [21]:
#checking the rows in which we have no NaN values
notna_final_merge=final_merge.dropna(subset=['new_hospitalized_patients','cumulative_hospitalized_patients','current_hospitalized_patients','new_intensive_care_patients'])

In [22]:
#information of Not NaN entries
notna_final_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1458 entries, 1091858 to 1174754
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   date                                       1458 non-null   object
 1   location_key                               1458 non-null   object
 2   new_hospitalized_patients                  1458 non-null   float64
 3   cumulative_hospitalized_patients           1458 non-null   float64
 4   current_hospitalized_patients              1458 non-null   float64
 5   new_intensive_care_patients                1458 non-null   float64
 6   cumulative_intensive_care_patients         1458 non-null   float64
 7   current_intensive_care_patients            1458 non-null   float64
 8   new_ventilator_patients                    419 non-null    float64
 9   cumulative_ventilator_patients             419 non-null    float64
 10  current_ventilator_patients                1458 non-null   float64
 11  new_confirmed_male                         1155 non-null   float64
 12  new_confirmed_female                       1154 non-null   float64
 13  cumulative_confirmed_male                  1458 non-null   float64
 14  cumulative_confirmed_female                1458 non-null   float64
 15  new_deceased_male                          736 non-null    float64
 16  new_deceased_female                        736 non-null    float64
 17  cumulative_deceased_male                   736 non-null    float64
 18  cumulative_deceased_female                 736 non-null    float64
 19  new_recovered_male                         0 non-null      float64
 20  new_recovered_female                       0 non-null      float64
 21  cumulative_recovered_male                  0 non-null      float64
 22  cumulative_recovered_female                0 non-null      float64
 23  new_tested_male                            0 non-null      float64
 24  new_tested_female                          0 non-null      float64
 25  cumulative_tested_male                     0 non-null      float64
 26  cumulative_tested_female                   0 non-null      float64
 27  new_hospitalized_patients_male             736 non-null    float64
 28  new_hospitalized_patients_female           736 non-null    float64
 29  cumulative_hospitalized_patients_male      736 non-null    float64
 30  cumulative_hospitalized_patients_female    736 non-null    float64
 31  new_intensive_care_patients_male           736 non-null    float64
 32  new_intensive_care_patients_female         736 non-null    float64
 33  cumulative_intensive_care_patients_male    736 non-null    float64
 34  cumulative_intensive_care_patients_female  736 non-null    float64
 35  new_ventilator_patients_male               0 non-null      float64
 36  new_ventilator_patients_female             0 non-null      float64
 37  cumulative_ventilator_patients_male        0 non-null      float64
 38  cumulative_ventilator_patients_female      0 non-null      float64
 39  new_confirmed                              1458 non-null   float64
 40  new_deceased                               1458 non-null   float64
 41  new_recovered                              660 non-null    float64
 42  new_tested                                 676 non-null    float64
 43  cumulative_confirmed                       1458 non-null   float64
 44  cumulative_deceased                        1458 non-null   float64
 45  cumulative_recovered                       660 non-null    float64
 46  cumulative_tested                          676 non-null    float64
 47  year                                       1458 non-null   object
 48  month                                      1458 non-null   object
 49  day                                        1458 non-null   object
dtypes: float64(45), object(5)
memory usage: 580.9+ KB

In [23]:
#remove unwanted columns from data set
df = final_merge.drop(['current_hospitalized_patients','current_intensive_care_patients','new_ventilator_patients','current_ventilator_patients','cumulative_ventilator_patients','new_ventilator_patients_male', 'new_ventilator_patients_female','cumulative_ventilator_patients_male','cumulative_ventilator_patients_female'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1175382 entries, 0 to 1175381
Data columns (total 41 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   date                                       1175382 non-null  object
 1   location_key                               1175382 non-null  object
 2   new_hospitalized_patients                  1174040 non-null  float64
 3   cumulative_hospitalized_patients           1173670 non-null  float64
 4   new_intensive_care_patients                1101703 non-null  float64
 5   cumulative_intensive_care_patients         1101705 non-null  float64
 6   new_confirmed_male                         960521 non-null   float64
 7   new_confirmed_female                       951485 non-null   float64
 8   cumulative_confirmed_male                  992725 non-null   float64
 9   cumulative_confirmed_female                992038 non-null   float64
 10  new_deceased_male                          1137155 non-null  float64
 11  new_deceased_female                        1128144 non-null  float64
 12  cumulative_deceased_male                   1168405 non-null  float64
 13  cumulative_deceased_female                 1167718 non-null  float64
 14  new_recovered_male                         593133 non-null   float64
 15  new_recovered_female                       590948 non-null   float64
 16  cumulative_recovered_male                  596423 non-null   float64
 17  cumulative_recovered_female                596423 non-null   float64
 18  new_tested_male                            877337 non-null   float64
 19  new_tested_female                          871198 non-null   float64
 20  cumulative_tested_male                     905295 non-null   float64
 21  cumulative_tested_female                   905295 non-null   float64
 22  new_hospitalized_patients_male             1127765 non-null  float64
 23  new_hospitalized_patients_female           1118754 non-null  float64
 24  cumulative_hospitalized_patients_male      1159012 non-null  float64
 25  cumulative_hospitalized_patients_female    1158325 non-null  float64
 26  new_intensive_care_patients_male           875994 non-null   float64
 27  new_intensive_care_patients_female         799034 non-null   float64
 28  cumulative_intensive_care_patients_male    1099860 non-null  float64
 29  cumulative_intensive_care_patients_female  1099860 non-null  float64
 30  new_confirmed                              1175382 non-null  float64
 31  new_deceased                               1171510 non-null  float64
 32  new_recovered                              612247 non-null   float64
 33  new_tested                                 914976 non-null   float64
 34  cumulative_confirmed                       1175382 non-null  float64
 35  cumulative_deceased                        1171510 non-null  float64
 36  cumulative_recovered                       612248 non-null   float64
 37  cumulative_tested                          920303 non-null   float64
 38  year                                       1175382 non-null  object
 39  month                                      1175382 non-null  object
 40  day                                        1175382 non-null  object
dtypes: float64(36), object(5)
memory usage: 376.6+ MB

In the final merge let us find the outliers for the column cumulative_hospitalized_patients

In [24]:
#Calculation of first quantile
q1 = df['cumulative_hospitalized_patients'].quantile(0.25)

#Calculation of third quantile
q3 = df['cumulative_hospitalized_patients'].quantile(0.75)

# Calculate the interquantile range (IQR)
IQR = q3 - q1
#Evaluating the outliers
df[df['cumulative_hospitalized_patients']<q1 - 1.5*IQR]
df[df['cumulative_hospitalized_patients']>q3 + 1.5*IQR]

,date,location_key,new_hospitalized_patients,cumulative_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,new_confirmed_male,new_confirmed_female,cumulative_confirmed_male,cumulative_confirmed_female,...,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,year,month,day
69,2020-03-19,AR,104.0,973.0,14.0,145.0,13.0,9.0,138.0,111.0,...,0.0,NaN,137.0,225.0,5.0,NaN,1447.0,2020,03,19
70,2020-03-20,AR,131.0,1104.0,26.0,171.0,21.0,9.0,159.0,120.0,...,0.0,NaN,214.0,255.0,5.0,NaN,1661.0,2020,03,20
71,2020-03-21,AR,141.0,1245.0,20.0,191.0,33.0,29.0,192.0,149.0,...,1.0,NaN,295.0,317.0,6.0,NaN,1956.0,2020,03,21
72,2020-03-22,AR,154.0,1399.0,34.0,225.0,35.0,17.0,227.0,166.0,...,0.0,NaN,222.0,371.0,6.0,NaN,2178.0,2020,03,22
73,2020-03-23,AR,207.0,1606.0,33.0,258.0,15.0,16.0,242.0,182.0,...,0.0,NaN,263.0,404.0,6.0,NaN,2441.0,2020,03,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175349,2020-07-10,US_MA,23.0,11582.0,NaN,NaN,93.0,118.0,49039.0,60580.0,...,28.0,0.0,18260.0,111110.0,8296.0,94347.0,1243451.0,2020,07,10
1175350,2020-07-11,US_MA,18.0,11600.0,NaN,NaN,115.0,142.0,49154.0,60722.0,...,14.0,0.0,10216.0,111398.0,8310.0,94347.0,1253667.0,2020,07,11
1175351,2020-07-12,US_MA,8.0,11608.0,NaN,NaN,91.0,99.0,49245.0,60821.0,...,15.0,0.0,7040.0,111597.0,8325.0,94347.0,1260707.0,2020,07,12
1175352,2020-07-13,US_MA,3.0,11611.0,NaN,NaN,107.0,113.0,49352.0,60934.0,...,5.0,0.0,20035.0,111827.0,8330.0,94347.0,1280742.0,2020,07,13
1175353,2020-07-14,US_MA,14.0,11625.0,NaN,NaN,129.0,151.0,49481.0,61085.0,...,10.0,0.0,20900.0,112130.0,8340.0,94347.0,1301642.0,2020,07,14

From the above output we can see that there are around 1,81,702 outilers out of 11,75,382 records from the data we have collected. Now we remove the outliers using mean value.

In [25]:
#making code for all the columns
l=df.columns.tolist()
for i in range(1,38):
    print("df['"+l[i]+"']=df['"+l[i]+"'].fillna(value=mean_value"+str(i-1)+")")

df['location_key']=df['location_key'].fillna(value=mean_value0)
df['new_hospitalized_patients']=df['new_hospitalized_patients'].fillna(value=mean_value1)
df['cumulative_hospitalized_patients']=df['cumulative_hospitalized_patients'].fillna(value=mean_value2)
df['new_intensive_care_patients']=df['new_intensive_care_patients'].fillna(value=mean_value3)
df['cumulative_intensive_care_patients']=df['cumulative_intensive_care_patients'].fillna(value=mean_value4)
df['new_confirmed_male']=df['new_confirmed_male'].fillna(value=mean_value5)
df['new_confirmed_female']=df['new_confirmed_female'].fillna(value=mean_value6)
df['cumulative_confirmed_male']=df['cumulative_confirmed_male'].fillna(value=mean_value7)
df['cumulative_confirmed_female']=df['cumulative_confirmed_female'].fillna(value=mean_value8)
df['new_deceased_male']=df['new_deceased_male'].fillna(value=mean_value9)
df['new_deceased_female']=df['new_deceased_female'].fillna(value=mean_value10)
df['cumulative_deceased_male']=df['cumulative_deceased_male'].fillna(value=mean_value11)
df['cumulative_deceased_female']=df['cumulative_deceased_female'].fillna(value=mean_value12)
df['new_recovered_male']=df['new_recovered_male'].fillna(value=mean_value13)
df['new_recovered_female']=df['new_recovered_female'].fillna(value=mean_value14)
df['cumulative_recovered_male']=df['cumulative_recovered_male'].fillna(value=mean_value15)
df['cumulative_recovered_female']=df['cumulative_recovered_female'].fillna(value=mean_value16)
df['new_tested_male']=df['new_tested_male'].fillna(value=mean_value17)
df['new_tested_female']=df['new_tested_female'].fillna(value=mean_value18)
df['cumulative_tested_male']=df['cumulative_tested_male'].fillna(value=mean_value19)
df['cumulative_tested_female']=df['cumulative_tested_female'].fillna(value=mean_value20)
df['new_hospitalized_patients_male']=df['new_hospitalized_patients_male'].fillna(value=mean_value21)
df['new_hospitalized_patients_female']=df['new_hospitalized_patients_female'].fillna(value=mean_value22)
df['cumulative_hospitalized_patients_male']=df['cumulative_hospitalized_patients_male'].fillna(value=mean_value23)
df['cumulative_hospitalized_patients_female']=df['cumulative_hospitalized_patients_female'].fillna(value=mean_value24)
df['new_intensive_care_patients_male']=df['new_intensive_care_patients_male'].fillna(value=mean_value25)
df['new_intensive_care_patients_female']=df['new_intensive_care_patients_female'].fillna(value=mean_value26)
df['cumulative_intensive_care_patients_male']=df['cumulative_intensive_care_patients_male'].fillna(value=mean_value27)
df['cumulative_intensive_care_patients_female']=df['cumulative_intensive_care_patients_female'].fillna(value=mean_value28)
df['new_confirmed']=df['new_confirmed'].fillna(value=mean_value29)
df['new_deceased']=df['new_deceased'].fillna(value=mean_value30)
df['new_recovered']=df['new_recovered'].fillna(value=mean_value31)
df['new_tested']=df['new_tested'].fillna(value=mean_value32)
df['cumulative_confirmed']=df['cumulative_confirmed'].fillna(value=mean_value33)
df['cumulative_deceased']=df['cumulative_deceased'].fillna(value=mean_value34)
df['cumulative_recovered']=df['cumulative_recovered'].fillna(value=mean_value35)
df['cumulative_tested']=df['cumulative_tested'].fillna(value=mean_value36)

In [26]:
#finding mean value for each column
mean_value1=final_merge['new_hospitalized_patients'].mean()
mean_value2=final_merge['cumulative_hospitalized_patients'].mean()
mean_value3=final_merge['new_intensive_care_patients'].mean()
mean_value4=final_merge['cumulative_intensive_care_patients'].mean()
mean_value5=final_merge['new_confirmed_male'].mean()
mean_value6=final_merge['new_confirmed_female'].mean()
mean_value7=final_merge['cumulative_confirmed_male'].mean()
mean_value8=final_merge['cumulative_confirmed_female'].mean()
mean_value9=final_merge['new_deceased_male'].mean()
mean_value10=final_merge['new_deceased_female'].mean()
mean_value11=final_merge['cumulative_deceased_male'].mean()
mean_value12=final_merge['cumulative_deceased_female'].mean()
mean_value13=final_merge['new_recovered_male'].mean()
mean_value14=final_merge['new_recovered_female'].mean()
mean_value15=final_merge['cumulative_recovered_male'].mean()
mean_value16=final_merge['cumulative_recovered_female'].mean()
mean_value17=final_merge['new_tested_male'].mean()
mean_value18=final_merge['new_tested_female'].mean()
mean_value19=final_merge['cumulative_tested_male'].mean()
mean_value20=final_merge['cumulative_tested_female'].mean()
mean_value21=final_merge['new_hospitalized_patients_male'].mean()
mean_value22=final_merge['new_hospitalized_patients_female'].mean()
mean_value23=final_merge['cumulative_hospitalized_patients_male'].mean()
mean_value24=final_merge['cumulative_hospitalized_patients_female'].mean()
mean_value25=final_merge['new_intensive_care_patients_male'].mean()
mean_value26=final_merge['new_intensive_care_patients_female'].mean()
mean_value27=final_merge['cumulative_intensive_care_patients_male'].mean()
mean_value28=final_merge['cumulative_intensive_care_patients_female'].mean()
mean_value29=final_merge['new_confirmed'].mean()
mean_value30=final_merge['new_deceased'].mean()
mean_value31=final_merge['new_recovered'].mean()
mean_value32=final_merge['new_tested'].mean()
mean_value33=final_merge['cumulative_confirmed'].mean()
mean_value34=final_merge['cumulative_deceased'].mean()
mean_value35=final_merge['cumulative_recovered'].mean()
mean_value36=final_merge['cumulative_tested'].mean()

#replacing NaN values with mean value
df['new_hospitalized_patients']=df['new_hospitalized_patients'].fillna(value=mean_value1)
df['cumulative_hospitalized_patients']=df['cumulative_hospitalized_patients'].fillna(value=mean_value2)
df['new_intensive_care_patients']=df['new_intensive_care_patients'].fillna(value=mean_value3)
df['cumulative_intensive_care_patients']=df['cumulative_intensive_care_patients'].fillna(value=mean_value4)
df['new_confirmed_male']=df['new_confirmed_male'].fillna(value=mean_value5)
df['new_confirmed_female']=df['new_confirmed_female'].fillna(value=mean_value6)
df['cumulative_confirmed_male']=df['cumulative_confirmed_male'].fillna(value=mean_value7)
df['cumulative_confirmed_female']=df['cumulative_confirmed_female'].fillna(value=mean_value8)
df['new_deceased_male']=df['new_deceased_male'].fillna(value=mean_value9)
df['new_deceased_female']=df['new_deceased_female'].fillna(value=mean_value10)
df['cumulative_deceased_male']=df['cumulative_deceased_male'].fillna(value=mean_value11)
df['cumulative_deceased_female']=df['cumulative_deceased_female'].fillna(value=mean_value12)
df['new_recovered_male']=df['new_recovered_male'].fillna(value=mean_value13)
df['new_recovered_female']=df['new_recovered_female'].fillna(value=mean_value14)
df['cumulative_recovered_male']=df['cumulative_recovered_male'].fillna(value=mean_value15)
df['cumulative_recovered_female']=df['cumulative_recovered_female'].fillna(value=mean_value16)
df['new_tested_male']=df['new_tested_male'].fillna(value=mean_value17)
df['new_tested_female']=df['new_tested_female'].fillna(value=mean_value18)
df['cumulative_tested_male']=df['cumulative_tested_male'].fillna(value=mean_value19)
df['cumulative_tested_female']=df['cumulative_tested_female'].fillna(value=mean_value20)
df['new_hospitalized_patients_male']=df['new_hospitalized_patients_male'].fillna(value=mean_value21)
df['new_hospitalized_patients_female']=df['new_hospitalized_patients_female'].fillna(value=mean_value22)
df['cumulative_hospitalized_patients_male']=df['cumulative_hospitalized_patients_male'].fillna(value=mean_value23)
df['cumulative_hospitalized_patients_female']=df['cumulative_hospitalized_patients_female'].fillna(value=mean_value24)
df['new_intensive_care_patients_male']=df['new_intensive_care_patients_male'].fillna(value=mean_value25)
df['new_intensive_care_patients_female']=df['new_intensive_care_patients_female'].fillna(value=mean_value26)
df['cumulative_intensive_care_patients_male']=df['cumulative_intensive_care_patients_male'].fillna(value=mean_value27)
df['cumulative_intensive_care_patients_female']=df['cumulative_intensive_care_patients_female'].fillna(value=mean_value28)
df['new_confirmed']=df['new_confirmed'].fillna(value=mean_value29)
df['new_deceased']=df['new_deceased'].fillna(value=mean_value30)
df['new_recovered']=df['new_recovered'].fillna(value=mean_value31)
df['new_tested']=df['new_tested'].fillna(value=mean_value32)
df['cumulative_confirmed']=df['cumulative_confirmed'].fillna(value=mean_value33)
df['cumulative_deceased']=df['cumulative_deceased'].fillna(value=mean_value34)
df['cumulative_recovered']=df['cumulative_recovered'].fillna(value=mean_value35)
df['cumulative_tested']=df['cumulative_tested'].fillna(value=mean_value36)

In [27]:
#information about the cleaned data set
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1175382 entries, 0 to 1175381
Data columns (total 41 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   date                                       1175382 non-null  object
 1   location_key                               1175382 non-null  object
 2   new_hospitalized_patients                  1175382 non-null  float64
 3   cumulative_hospitalized_patients           1175382 non-null  float64
 4   new_intensive_care_patients                1175382 non-null  float64
 5   cumulative_intensive_care_patients         1175382 non-null  float64
 6   new_confirmed_male                         1175382 non-null  float64
 7   new_confirmed_female                       1175382 non-null  float64
 8   cumulative_confirmed_male                  1175382 non-null  float64
 9   cumulative_confirmed_female                1175382 non-null  float64
 10  new_deceased_male                          1175382 non-null  float64
 11  new_deceased_female                        1175382 non-null  float64
 12  cumulative_deceased_male                   1175382 non-null  float64
 13  cumulative_deceased_female                 1175382 non-null  float64
 14  new_recovered_male                         1175382 non-null  float64
 15  new_recovered_female                       1175382 non-null  float64
 16  cumulative_recovered_male                  1175382 non-null  float64
 17  cumulative_recovered_female                1175382 non-null  float64
 18  new_tested_male                            1175382 non-null  float64
 19  new_tested_female                          1175382 non-null  float64
 20  cumulative_tested_male                     1175382 non-null  float64
 21  cumulative_tested_female                   1175382 non-null  float64
 22  new_hospitalized_patients_male             1175382 non-null  float64
 23  new_hospitalized_patients_female           1175382 non-null  float64
 24  cumulative_hospitalized_patients_male      1175382 non-null  float64
 25  cumulative_hospitalized_patients_female    1175382 non-null  float64
 26  new_intensive_care_patients_male           1175382 non-null  float64
 27  new_intensive_care_patients_female         1175382 non-null  float64
 28  cumulative_intensive_care_patients_male    1175382 non-null  float64
 29  cumulative_intensive_care_patients_female  1175382 non-null  float64
 30  new_confirmed                              1175382 non-null  float64
 31  new_deceased                               1175382 non-null  float64
 32  new_recovered                              1175382 non-null  float64
 33  new_tested                                 1175382 non-null  float64
 34  cumulative_confirmed                       1175382 non-null  float64
 35  cumulative_deceased                        1175382 non-null  float64
 36  cumulative_recovered                       1175382 non-null  float64
 37  cumulative_tested                          1175382 non-null  float64
 38  year                                       1175382 non-null  object
 39  month                                      1175382 non-null  object
 40  day                                        1175382 non-null  object
dtypes: float64(36), object(5)
memory usage: 376.6+ MB

In [ ]:
#saving the cleaned dataset
df.to_csv('cleaned_covid_data.csv')

<h1> 4.principal component analysis </h1>

In [ ]:
df = pd.read_csv('cleaned_covid_data.csv')
df.sample(10)

In [ ]:
#finding the correlation table
df.corr()

# Heatmap
Heatmap is a good way to quickly check correlations among columns by visualizing the correlation matrix using heatmap.

In [ ]:
mask = np.zeros_like(df.corr())
mask[np.triu_indices_from(mask)] = True

sns.heatmap(df.corr(), cmap='RdYlGn', vmax=1.0, vmin=-1.0 , mask = mask, linewidths=2)
plt.rcParams['figure.figsize'] = (18, 18)
plt.yticks(rotation=0)
plt.xticks(rotation=60)

plt.savefig('correlation_heatmap.png',dpi=500,bbox_inches='tight')

##  Normalize Data

In [ ]:
#Normalize the data in all the columns from new_hospitalized_patients to cumulative tested
data_norm = scale(df.loc[:,'new_hospitalized_patients':'cumulative_tested'])

In [ ]:
#describe the data after normalization
pd.DataFrame(data_norm).describe().transpose()

In [ ]:
#finding the correlation among the normalized data
pd.DataFrame(data_norm).corr()

In [ ]:
# Selecting the number of components
pca1 = PCA(n_components=36)

# Fit the PCA model
pca1.fit(data_norm)

In [ ]:
#The amount of variance that each PC explains
var = pca1.explained_variance_ratio_
print(var)

In [ ]:
#Cumulative Variance explains
var1 = np.cumsum(np.round(pca1.explained_variance_ratio_, decimals=4)*100)
print(var1)

In [ ]:
var1 = pd.DataFrame(var1, index=np.arange(1,37))
plt.plot(var1,color='blue')
plt.title('Scree Plot')
plt.xlabel('Number of Principal Components')
plt.ylabel('Cumulative Variance Explained')
plt.savefig('scree_plot.png',dpi=100,bbox_inches='tight')

<h1> 5.Visualization </h1>

In [ ]:
#checking records based on year
df['year'].value_counts().plot(kind='bar')

The above bar chart describes that how many cases were noticed in every year from dataset.

In [ ]:
caseByYear = df['year'].value_counts(sort=False).sort_index()
caseByYear.plot(kind = 'pie')
plt.xticks(rotation=45)

The above pie chart describes that how many cases were noticed in every year from dataset.

In [ ]:
#The Distribution of new tested using kde plot
plt.rcParams['figure.figsize'] = (15, 8)
sns.displot(df['new_tested'],kind='kde', color = 'red')
plt.title('The Distribution of new tested', fontsize = 20)
plt.xlabel('Density of tested', fontsize = 15)
plt.ylabel('No. of tested Counts', fontsize = 15)
plt.show()

The above distribution plot has been plotted based on the new_tested column in the dataset.

In [ ]:
plot1 = df[['new_confirmed','new_recovered','new_deceased','new_hospitalized_patients']].plot.box()
plt.xticks(rotation=45)
plt.savefig('boxplot.png',bbox_inches='tight', dpi=200)

The above boxplot is drawn based on these attributes 'new_confirmed','new_recovered','new_deceased','new_hospitalized_patients'

In [ ]:
#Worldwide Cases
df = pd.read_csv('cleaned_covid_data.csv', parse_dates=['date'])
df['Total Cases'] = df[['new_confirmed', 'new_recovered', 'new_deceased']].sum(axis=1)
worldwide_df = df.groupby(['date']).sum()
w_chart = worldwide_df.plot(figsize=(15,15))
w_chart.set_xlabel('Date')
w_chart.set_ylabel('# of Cases WorldWide')
w_chart.title.set_text('Covid-19 complete data Visualization')
plt.show()

The above plot describes how many covid cases were confirmed, recovered and deceased from the given dates in the dataset and here we have all the kinds of information about the covid cases.

In [ ]:
df2=df[['new_confirmed', 'new_recovered', 'new_deceased','date','month']]
ww_df = df2.groupby(['date']).sum()
w_char = ww_df.plot(figsize=(15,15))
w_char.set_xlabel('date')
w_char.set_ylabel('# of Cases WorldWide')
w_char.title.set_text('Covid-19 Visualization')
plt.show()

The above plot describes how many covid cases were confirmed, recovered and deceased from the given dates in the dataset. Here in this plot we visualized on the new confirmed, recovered and deceased cases in the dataset.

In [ ]:
df2=df[['new_confirmed', 'new_recovered', 'new_deceased','year','month']]
ww_dff = df2.groupby(['month','year']).sum()
w_charr = ww_dff.plot(figsize=(15,15))
w_charr.set_xlabel('date')
w_charr.set_ylabel('# of Cases WorldWide')
w_charr.title.set_text('Covid-19 Visualization based on month and year')
plt.show()

The above plot describes how many covid cases were confirmed, recovered and deceased each month every year in the dataset. Here in this plot we visualized on the new confirmed, recovered and deceased cases in the dataset.

In [ ]:
df2=df[['new_confirmed', 'new_recovered', 'new_deceased','year','month']]
ww_dff = df2.groupby(['month','year']).sum()
w_charr = ww_dff.plot(figsize=(15,15),kind='bar')
w_charr.set_xlabel('date')
w_charr.set_ylabel('# of Cases WorldWide')
w_charr.title.set_text('Covid-19 Visualization using bar chart')
plt.show()

The above plot describes how many covid cases were confirmed, recovered and deceased each month every year in the dataset. Here in this plot we have visualized using the bar plot on the new confirmed, recovered and deceased cases in the dataset.

In [ ]:
df2=df[['new_confirmed', 'new_confirmed_male', 'new_confirmed_female','year','month']]
ww_dff = df2.groupby(['month','year']).sum()
w_charr = ww_dff.plot(figsize=(15,15),kind='bar')
w_charr.set_xlabel('date')
w_charr.set_ylabel('# of Cases WorldWide')
w_charr.title.set_text('Covid-19 new confirmed data Visualization')
plt.show()

The above bar plot describes the new confirmed cases each month every year and among them we can able to see the difference between the new confirmed male cases and new confirmed female cases.

In [ ]:
df2=df[['new_deceased', 'new_deceased_male', 'new_deceased_female','year','month']]
ww_dff = df2.groupby(['month','year']).sum()
w_charr = ww_dff.plot(figsize=(15,15),kind='bar')
w_charr.set_xlabel('date')
w_charr.set_ylabel('# of Cases WorldWide')
w_charr.title.set_text('Covid-19 new deceased data Visualization')
plt.show()

The above bar plot describes the new deceased cases each month every year and among them we can able to see the difference between the new deceased male cases and new deceased female cases.

In [ ]:
df2=df[['new_recovered', 'new_recovered_male', 'new_recovered_female','year','month']]
ww_dff = df2.groupby(['month','year']).sum()
w_charr = ww_dff.plot(figsize=(15,15),kind='bar')
w_charr.set_xlabel('date')
w_charr.set_ylabel('# of Cases WorldWide')
w_charr.title.set_text('Covid-19 new recovered data Visualization')
plt.show()

The above bar plot describes the new recovered cases each month every year and among them we can able to see the difference between the new recovered male cases and new recovered female cases.